h1 {
    color: #264f26;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: rgb(20, 68, 87);
    font-size: larger;
    text-align: center;
}

.taskButton {
    display:flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(171, 197, 196);
    color: #264f26;
    border-radius: 8px;
    font-size: 13px;
    border: none;
    display: block;
    margin: 0 auto;
    border: 5px solid red;
}
